<main>
  <h1>ユーザー仮登録完了のお知らせ</h1>

  <p>
    仮登録ありがとうございます。<br />
    まだ登録は完了していません。
  </p>

  <p>
    以下の認証コードを入力して認証を完了させてください。
  </p>

  <div style="margin-top: 12px;">
    <%= @token %>
  </div>

  <p>
    仮登録から15分経過するとURLは無効となります。<br />
    15分経過後は、はじめからお手続きください。
  </p>
</main>
